<a href="https://colab.research.google.com/github/Priyanshu21-sys/Python-programming-ll/blob/main/python_assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Section A : Fundamentals of Python

1. Write a Python program to print “Hello Python”

In [ ]:
print("Hello Python")
z = 'Hello Python'
print(z)

Hello Python
Hello Python

2. Write a Python program to do arithmetical operations addition and division ?

In [ ]:
q = 20
p = 5
sum = p + q
print(sum)
div = q/p
print(div)

25
4.0

3. Write a Python program to find the area of a triangle?

In [ ]:
height = float(input("enter the height of the traingle: "))
base = float(input("enter the base of the traingle: "))
area = 0.5 *(base*height)
print('Area of triangle is :', area)

enter the height of the traingle: 5
enter the base of the traingle: 6
Area of triangle is : 15.0

4. Write a Python program to swap two variables?

In [ ]:
a = 5
d = 10

a, d = d, a
print("a =", a)
print("d =", d)

a = 10
d = 5

In [ ]:
5. Write a Python program to generate a random number?

In [ ]:
import random 
rand_number = random.randint(0,100)
print(rand_number)

72

#Section B:

1. Write a Python program to convert kilometers to miles?

In [ ]:
kilometers = float(input("Enter no of kilometers: "))
miles = kilometers*0.621371
print(kilometers, 'km = ', miles,' miles')

Enter no of kilometers: 5
5.0 km =  3.106855  miles

2. Write a Python program to convert Celsius to Fahrenheit?

In [ ]:
Celsius = float(input('Enter the temperature in Celsius: '))
Fahrenheit = (Celsius * 1.8) + 32
print(Celsius, ' C = ', Fahrenheit , 'F')

Enter the temperature in Celsius: 90
90.0  C is  194.0 F

3. Write a Python program to display calendar?

In [ ]:
import calendar
 
yy = 2022
mm = 8
 
print(calendar.month(yy, mm))

    August 2022
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

4. Write a Python program to solve quadratic equation?

In [ ]:
import math
a = int(input('Enter value of a: '))
b = int(input('Enter value of b: '))
c = int(input('Enter value of c: '))

D = ((b**2)- (4*a*c))
solution1 = (-b+math.sqrt(D))/(2*a)
solution2 = (-b-math.sqrt(D))/(2*a)

print(solution1,'and',solution2)

5. Write a Python program to swap two variables without temp variable?

In [ ]:
x = 10
y = 5

temp = x
x = y
y = temp

print(x)
print(y)

5
10

#Section C:

1. Write a Python Program to Check if a Number is Positive, Negative or Zero?

In [ ]:
num = int(input('Enter a number: '))
if num>0:
  print(num,' is positive')
elif num==0:
  print('Zero')
elif num<0:
  print(num,' is negative')

2. Write a Python Program to Check if a Number is Odd or Even?

In [ ]:
num = int(input('Enter a number: '))
if num%2==0:
  print(num,' is Even')
else:
  print('{0} is Odd'.format(num))

Enter a number: 5
5 is Odd

3. Write a Python Program to Check Leap Year?

In [ ]:
year = int(input("Enter the year: "))
if year % 4 == 0 and year % 100 != 0:
    print(year, "is a leap year.")
elif year % 400 == 0:
    print(year, "is a leap year.")
elif year % 100 == 0:
    print(year, "is not a leap year.")
else:
    print(year, "is not a leap year.")

4. Write a Python Program to Check Prime Number?

In [ ]:
num = int(input("Enter a number: "))

if num > 1:
   
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

5. Write a Python Program to Print all Prime Numbers in an Interval of 1-10000?

In [ ]:
lowerlimit = 1
upperlimit = 10000

for num in range(lowerlimit, upperlimit+ 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

#Section D:

1. Write a Python Program to Find the Factorial of a Number?

In [ ]:
def factorial(a):
  if a==1:
    return 1
  else:
    return a*factorial(a-1)

x = int(input())
res = factorial(x)
print(res)

2. Write a Python Program to Display the multiplication Table?

In [ ]:
number = int(input())
for i in range(1,11):
  print(number," x ",i," = ",number*i)

3. Write a Python Program to Print the Fibonacci sequence?

In [ ]:
n = int(input())
a = 0
b = 1
res = 0
if n <= 0 : 
  print("Not valid")
elif n == 1:
  print(a)
else:
  print("Fibonnaci Sequence: ")
  while res < n :
    print(a)
    nth= a + b
    a = b 
    b = nth
    res += 1

4. Write a Python Program to Check Armstrong Number?

In [ ]:
n= int(input("Enter a number: "))
s = 0 
t = n 
while t > 0:
  digit = t%10
  s += digit**3
  t = t//10

if n == s:
   print(n,"is an Armstrong number")
else:
   print(n,"is not an Armstrong number")

Enter a number: 56
56 is not an Armstrong number

5. Write a Python Program to Find Armstrong Number in an Interval?

In [ ]:
lower  = int(input("enter the lower limit: "))
upper = int(input("enter the upper limit: "))
for i in range(lower, upper+1):
  sum =0
  num = i
  while(i!=0):
    digit=i%10
    sum = sum + (digit**3)
    i = i//10
  if num == sum:
    print(num)

6. Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
def sumofn(n):
   if n <= 1:
       return n
   else:
       return n + sumofn(n-1)
x = int(input("Enter a number: "))
s = sumofn(x)
print(s)

#Section E:

1. Write a Python Program to find sum of array?

In [ ]:
arr = [2, 3, 4, 5, 25]
for i in arr:
  sum += i
print(sum)

64

2. Write a Python Program to find largest element in an array?

In [ ]:
arr = [2, 3, 4, 1, 5, 23]
lar = 0
for i in range(len(arr)):
  if arr[i] > lar:
    lar = arr[i]
print(lar)

23

3. Write a Python Program for array rotation?

In [ ]:
def rotateArray(a,d):
    temp = []
    n=len(a)
    for i in range(d,n):
        temp.append(a[i])
    i = 0
    for i in range (0,d):
        temp.append(a[i])
    a=temp.copy()
    return a
 
arr = [1, 2, 3, 4, 5, 6, 7]
print("Array after left rotation is: ", end=' ')
print(rotateArray(arr, 2))

Array after left rotation is:  [3, 4, 5, 6, 7, 1, 2]

4. Write a Python Program to Split the array and add the first part to the end?

In [ ]:
def splitArr(arr, n, k): 
    for i in range(0, k): 
        x = arr[0]
        for j in range(0, n-1):
            arr[j] = arr[j + 1]
          
        arr[n-1] = x
          
arr = [2, 10, 5, 6, 52, 66]
n = len(arr)
position = 2
  
splitArr(arr, n, position)
  
for i in range(0, n): 
    print(arr[i], end = ' ')

5 6 52 66 2 10


5. Write a Python Program to check if given array is Monotonic?

In [ ]:
def isMonotonic(A):
  
    return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1)))
A = [6, 5, 4, 4]
print(isMonotonic(A))

True

#Section F:

1. Write a Python program to find sum of elements in list?

In [ ]:
a = 0
list1 = [11, 5, 17, 18, 23]
for ele in range(0, len(list1)):
    a = a + list1[ele]
print("Sum of all elements in given list: ",a )

Sum of all elements in given list:  74

2. Write a Python program to Multiply all numbers in the list?

In [ ]:
def multiplyList(myList) :
    result = 1
    for x in myList:
         result = result * x
    return result
     
list1 = [10, 12, 63]
list2 = [13, 25, 44]
print(multiplyList(list1))
print(multiplyList(list2))

7560
14300

3. Write a Python program to find smallest number in a list?

In [ ]:
l = [150, 320, 54, 145, 99]
l.sort()
print("Smallest element is:", *l[:1])

Smallest element is: 54

4. Write a Python program to find largest number in a list?

In [ ]:
l = [1, 250, 54, 845, 899]
print("Largest element is:", max(l))

5. Write a Python program to find second largest number in a list?

In [ ]:
lis = [150, 420,574, 845,89]
mx = max(lis[0], lis[1])
secondmax = min(lis[0], lis[1])
n = len(lis)
for i in range(2,n):
    if lis[i] > mx:
        secondmax = mx
        mx = lis[i]
    elif lis[i] > secondmax and \
        mx != lis[i]:
        secondmax = lis[i]
    elif mx == secondmax and \
        secondmax != lis[i]:
          secondmax = lis[i]
 
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  574

6. Write a Python program to find N largest elements from a list?

In [ ]:
def Nmaxelements(lis, N):
    final_lis = []
  
    for i in range(0, N): 
        max1 = 0
          
        for j in range(len(lis)):     
            if lis[j] > max1:
                max1 = lis[j];
                  
        lis.remove(max1);
        final_lis.append(max1)
          
    print(final_lis)
lis = [22, 26, 41, 985, 0, 3, 17, 66, 10]
N = 2
Nmaxelements(lis, N)

[985, 66]

7. Write a Python program to print even numbers in a list?

In [ ]:
lis = [110, 24, 84, 45, 665, 93]
num = 0
while(num < len(lis)):
    if lis[num] % 2 == 0:
        print(lis[num], end=" ")
    num += 1

110 24 84

8. Write a Python program to print odd numbers in a List?

In [ ]:
lis = [9, 1, 4, 5, 6, 3]
for num in lis:
     
    # checking condition
    if num % 2 != 0:
       print(num, end = " ")

9 1 5 3

9. Write a Python program to Remove empty List from List?

In [ ]:
lis = [5, 6, [], 3, [], [], 9]
print("The original list is : " + str(lis))
res = [ele for ele in test_list if ele != []]
print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

10. Write a Python program to Cloning or Copying a list?

In [ ]:
def Cloning(l1):
    li_copy = l1[:]
    return li_copy
l1 = [45, 85, 42, 810, 915, 818]
l2 = Cloning(l1)
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [45, 85, 42, 810, 915, 818]
After Cloning: [45, 85, 42, 810, 915, 818]

11. Write a Python program to Count occurrences of an element in a list?

In [ ]:
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
lst = [7, 6, 7, 10, 7, 20, 10, 7, 7]
x = 7
print('{} has occurred {} times'.format(x, countX(lst, x)))

7 has occurred 5 times