<a href="https://colab.research.google.com/github/Priyanshu21-sys/Python-programming-ll/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PRIYANSHU MANOHAR PATIL,BRANCH-EXTC,
ROLL.NO-55

#Section A

1

In [1]:
def divide(a,b,c):
  sum1 =[]
  add1 = 0
  for i in range(a,b+1):
    if i%c==0:
      sum1.append(i)
    else:
      pass
  if sum(sum1)==0:
    print("no number between", a ,"and", b, "can be evenly divided by ", c)
  else:
    total = sum(sum1)
    print("the sum of the numbers that are evenly divided by ", c, "from the range  ", a ,"to ",  b,"is",total)
divide(1,20,4)

the sum of the numbers that are evenly divided by  4 from the range   1 to  20 is 60

2

In [3]:
def replace():
  print("Enter a string: ")
  str =input()
  print("enter desired character: ")
  char=input()
  newstr= ""
  for i in range(len(str)):
    if str[i]=='a' or str[i]=='e'or str[i]=='i'or str[i]=='o'or str[i]=='u' :
      newstr = newstr +char
    else:
      newstr = newstr +str[i]
  print("\nOriginal String: ", str)
  print("New string: ", newstr)
replace()

Enter a string:
piyush
enter desired character:
pruyanshu

Original String:  piyush
New string:  ppruyanshuypruyanshush

3

In [ ]:
def (a):
  if a ==1:
    return 1
  else:
    return a*(a-1)

x = int(input())
res =(x)
print(res)

4

In [12]:
def checkexpression(s):
  expres = eval(s)
  if expres:
    return True
  else:
    return False
  
checkexpression("4<9<45")

True

5

In [15]:
def hamming(stri1 ,stri2):
  i = 0
  count=0
  while i<len(stri1):
    if stri1[i] != stri2[i]:
      count += 1
    i +=1
  print("Hamming distance between" ,stri1, "and",stri2,"is :",count)

hamming("abcd", "bcdf")

Hamming distance between abcd and bcdf is : 4

6

#Section B

1

In [16]:
def sort(l):
  newl =[]
  for i in l:
    if i == int:
      newl = newl.append(i)
    else:
      pass
  print(newl)
x = [1,2,3,'d',4]
sort(x)

[]

2

In [25]:
  s =input()
  reverse = ""
  for i in range(len(s)-1,-1,-1):
    reverse += s[i]
  print(reverse)

ram
mar

3

In [26]:
list=[1,2,3,4,5,6]
fir=list[0]
mid=list[1:-1]
last=list[-1]
print("fir =",fir )
print("mid =",mid)
print("last = ",last)

fir = 1
mid = [2, 3, 4, 5]
last =  6

4

In [28]:
def fact(n):
   if n == 1:
       return n
   else:
       return n*fact(n-1)

num = int(input("Enter the number : "))


if num < 0:
   print("Sorry")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", fact(num))

Enter the number : 6
The factorial of 6 is 720

5

In [30]:
def move_to_end(array, Move):
    i = 0
    s = len(array) - 1
    while (i < s):
        while (i < s and array[s] == Move):
            s-=1
  
        if (array[i] == Move):
            array[i], array[s] = array[s] , array[i]
        i += 1
    return array

arr = ['1', '5', 'x', 'y']
k = 'x'
res = move_to_end(arr, k)
for i in range(len(arr)):
    print(res[i] ,end= " ")

1 5 y x

#Section C

1

In [32]:
def repstr(str):
    return ''.join([c+c for c in str])

print(repstr('ring'))

rriinngg

2

In [33]:
def reverse_func(args):
	if isinstance(args, bool):
		return not args
	else:
		return('boolean expected')

def reverse(args=None):
	return not args if type(args) == bool else "boolean expected"

print(reverse(True)) 
print(reverse(False)) 
print(reverse(0)) 
print(reverse(None))

False
True
boolean expected
boolean expected

3

In [35]:
def func2(c):
    result = 0.5
    for i in range(c):
        result *= 2
    
    return result / 1000 
func2(1)

0.001

4

In [38]:
test1 = "BOss patil"
 

print("The original string is : " + str(test1))
 

result = [idx for idx in range(len(test1)) if test1[idx].isupper()]
 

print("Uppercase elements indices : " + str(result ))

The original string is : BOss patil
Uppercase elements indices : [0, 1]

5

In [39]:

test_list=[i for i in range (5) if(i%2==0)]

print(test_list)

[0, 2, 4]

#Section D

1

In [40]:
list1 = [3,4,5,"asdfg", "Hkjygr"]
output = [x for x in list1 if type(x) != str]
print(output)

[3, 4, 5]

2

In [41]:
def add(list1):
    sum = 0
    index = []
    for i in list1:
        index.append(list1.index(i,sum) + i)
        sum+=1
    return index

add([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

3

In [43]:
import math
Pi = math.pi
def volume1(r, h):
    return (1 / 3) * Pi * r * r * h
def surface_area(r, s):
    return Pi * r * s + Pi * r * r
radius = float(5)
height = float(3)
slant_height = float(5)
print( "Volume Of Cone : ", volume1(radius, height) )
print( "Surface Area Of Cone : ", surface_area(radius, slant_height) )

Volume Of Cone :  78.53981633974482
Surface Area Of Cone :  157.07963267948966

4

In [44]:

def missing_number(list1):

   for n in range(1,11):

       if n not in list1:

           print(n)

list1 = (1,3,4,5,6,7,8,9,10)

missing_number(list1)

2